<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yycg.base.mapper.BssSysRolesysMapper" >
  <resultMap id="BaseResultMap" type="yycg.base.pojo.BssSysRolesys" >
    <id column="RSID" property="rsid" jdbcType="VARCHAR" />
    <result column="ROLEID" property="roleid" jdbcType="VARCHAR" />
    <result column="SYSID" property="sysid" jdbcType="VARCHAR" />
    <result column="VCHAR1" property="vchar1" jdbcType="VARCHAR" />
    <result column="VCHAR2" property="vchar2" jdbcType="VARCHAR" />
    <result column="VCHAR3" property="vchar3" jdbcType="VARCHAR" />
    <result column="VCHAR4" property="vchar4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RSID, ROLEID, SYSID, VCHAR1, VCHAR2, VCHAR3, VCHAR4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="yycg.base.pojo.BssSysRolesysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BSS_SYS_ROLESYS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BSS_SYS_ROLESYS
    where RSID = #{rsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from BSS_SYS_ROLESYS
    where RSID = #{rsid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="yycg.base.pojo.BssSysRolesysExample" >
    delete from BSS_SYS_ROLESYS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yycg.base.pojo.BssSysRolesys" >
    insert into BSS_SYS_ROLESYS (RSID, ROLEID, SYSID, 
      VCHAR1, VCHAR2, VCHAR3, 
      VCHAR4)
    values (#{rsid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, #{sysid,jdbcType=VARCHAR}, 
      #{vchar1,jdbcType=VARCHAR}, #{vchar2,jdbcType=VARCHAR}, #{vchar3,jdbcType=VARCHAR}, 
      #{vchar4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yycg.base.pojo.BssSysRolesys" >
    insert into BSS_SYS_ROLESYS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rsid != null" >
        RSID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="sysid != null" >
        SYSID,
      </if>
      <if test="vchar1 != null" >
        VCHAR1,
      </if>
      <if test="vchar2 != null" >
        VCHAR2,
      </if>
      <if test="vchar3 != null" >
        VCHAR3,
      </if>
      <if test="vchar4 != null" >
        VCHAR4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rsid != null" >
        #{rsid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="sysid != null" >
        #{sysid,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        #{vchar4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yycg.base.pojo.BssSysRolesysExample" resultType="java.lang.Integer" >
    select count(*) from BSS_SYS_ROLESYS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BSS_SYS_ROLESYS
    <set >
      <if test="record.rsid != null" >
        RSID = #{record.rsid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        ROLEID = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.sysid != null" >
        SYSID = #{record.sysid,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar1 != null" >
        VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar2 != null" >
        VCHAR2 = #{record.vchar2,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar3 != null" >
        VCHAR3 = #{record.vchar3,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar4 != null" >
        VCHAR4 = #{record.vchar4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BSS_SYS_ROLESYS
    set RSID = #{record.rsid,jdbcType=VARCHAR},
      ROLEID = #{record.roleid,jdbcType=VARCHAR},
      SYSID = #{record.sysid,jdbcType=VARCHAR},
      VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      VCHAR2 = #{record.vchar2,jdbcType=VARCHAR},
      VCHAR3 = #{record.vchar3,jdbcType=VARCHAR},
      VCHAR4 = #{record.vchar4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yycg.base.pojo.BssSysRolesys" >
    update BSS_SYS_ROLESYS
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="sysid != null" >
        SYSID = #{sysid,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        VCHAR2 = #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        VCHAR3 = #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        VCHAR4 = #{vchar4,jdbcType=VARCHAR},
      </if>
    </set>
    where RSID = #{rsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="yycg.base.pojo.BssSysRolesys" >
    update BSS_SYS_ROLESYS
    set ROLEID = #{roleid,jdbcType=VARCHAR},
      SYSID = #{sysid,jdbcType=VARCHAR},
      VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      VCHAR2 = #{vchar2,jdbcType=VARCHAR},
      VCHAR3 = #{vchar3,jdbcType=VARCHAR},
      VCHAR4 = #{vchar4,jdbcType=VARCHAR}
    where RSID = #{rsid,jdbcType=VARCHAR}
  </update>
</mapper>