<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yycg.base.mapper.UserroleMapper" >
  <resultMap id="BaseResultMap" type="yycg.base.pojo.Userrole" >
    <id column="USERID" property="userid" jdbcType="VARCHAR" />
    <id column="USERROLE" property="userrole" jdbcType="VARCHAR" />
    <result column="VCHAR1" property="vchar1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERID, USERROLE, VCHAR1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="yycg.base.pojo.UserroleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USERROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="yycg.base.pojo.UserroleKey" >
    select 
    <include refid="Base_Column_List" />
    from USERROLE
    where USERID = #{userid,jdbcType=VARCHAR}
      and USERROLE = #{userrole,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="yycg.base.pojo.UserroleKey" >
    delete from USERROLE
    where USERID = #{userid,jdbcType=VARCHAR}
      and USERROLE = #{userrole,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="yycg.base.pojo.UserroleExample" >
    delete from USERROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yycg.base.pojo.Userrole" >
    insert into USERROLE (USERID, USERROLE, VCHAR1
      )
    values (#{userid,jdbcType=VARCHAR}, #{userrole,jdbcType=VARCHAR}, #{vchar1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="yycg.base.pojo.Userrole" >
    insert into USERROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="userrole != null" >
        USERROLE,
      </if>
      <if test="vchar1 != null" >
        VCHAR1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null" >
        #{userrole,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        #{vchar1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yycg.base.pojo.UserroleExample" resultType="java.lang.Integer" >
    select count(*) from USERROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update USERROLE
    <set >
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.userrole != null" >
        USERROLE = #{record.userrole,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar1 != null" >
        VCHAR1 = #{record.vchar1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update USERROLE
    set USERID = #{record.userid,jdbcType=VARCHAR},
      USERROLE = #{record.userrole,jdbcType=VARCHAR},
      VCHAR1 = #{record.vchar1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yycg.base.pojo.Userrole" >
    update USERROLE
    <set >
      <if test="vchar1 != null" >
        VCHAR1 = #{vchar1,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
      and USERROLE = #{userrole,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="yycg.base.pojo.Userrole" >
    update USERROLE
    set VCHAR1 = #{vchar1,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
      and USERROLE = #{userrole,jdbcType=VARCHAR}
  </update>
</mapper>